- name: shower_muons
  feature_patterns:
    - shower_mu%s_pos_x
    - shower_mu%s_pos_y
    - shower_mu%s_pos_z
    - shower_mu%s_dir_x
    - shower_mu%s_dir_y
    - shower_mu%s_dir_z
    - shower_mu%s_radius
    - shower_mu%s_log_energy
  n_objects: 10
  embedding_dim: 2
  layers_list: [64, 64, 64, 64]
  hidden_activation: relu
  final_activation: sigmoid
  dropout: 0.1
  kernel_regularizer: 1e-4
  aggregation_method: sum
  pad_and_mask_empty_objects: false
  epsilon_std: 0